@media (max-width: 900px) {
    #page-home{
        background-position-x: 80vw;
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }
    
    #page-home header a{
        position: absolute;
        bottom: 0px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }

    #page-search-results header img{
        width: 130px;
    }

    #page-create-point header img{
        width: 130px;
    }

    #page-search-results .cards{
        grid-template-columns: 1fr;
    }

    #page-search-results main{ 
        margin: 48px 24px 48px 24px;
    }
    #page-create-point form .field-group{
        flex-direction: column;
    }

    #page-create-point form .field-group .field{
        margin-left: 0;
    }

    #page-create-point form .items-grid {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-bottom: 24px;
    }
    #page-create-point form .items-grid li{
        margin-bottom: 24px;
    }
    #page-home header a span {
        margin-right: 0;
        width: 30px;
    }

    #page-create-point form h1{
        font-size: 25px;
    }  
    
    #modal form button{
        width: 55px;
        height: 55px;
    }

    #modal .header h1{
        font-size: 26px;
    }
    
}

@media (min-width: 1700px){
    #page-home{
        background-position-x: 40vw;
    }
}

@media (max-height: 760px){
    #page-home{
        background-position-y: 100px;
    }
}
@media (max-width: 760px){
    #page-home header a span{
        width: 29px;
        margin-right: 2px;
    }  
    
    #page-home main h1{
        font-size: 40px;
    }
    
    #page-home main p{
        font-size: 20px;
    }

    form button {
        width: 195px;
    }
}